## 1.3 Remove duplicates

In [1]:
import numpy as np, pandas as pd

### build a data frame with duplicated rows:

In [2]:
df_obj = pd.DataFrame({'col1':[1,1,2,2,3,3,3], 'col2':'a a b b c c c'.split(), 'col3':'A A B B C C C'.split()})
df_obj

   col1 col2 col3
0     1    a    A
1     1    a    A
2     2    b    B
3     2    b    B
4     3    c    C
5     3    c    C
6     3    c    C

### test for duplicates - `pd.DataFrame.duplicated()`

In [3]:
df_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

### drop duplicate rows - `pd.DataFrame.drop_duplicates()`

In [4]:
df_obj.drop_duplicates()

   col1 col2 col3
0     1    a    A
2     2    b    B
4     3    c    C

### drop duplicate columns - `pd.DataFrame.drop_duplicates([])`

In [6]:
df_obj = pd.DataFrame({'col1':[1,1,2,2,3,3,3], 'col2':'a a b b c c c'.split(), 'col3':'A A B B C C C'.split()})
df_obj.drop_duplicates(['col3'])

   col1 col2 col3
0     1    a    A
2     2    b    B
4     3    c    C